<h1 class="title is-2">Checkout</h1>

<% if user_signed_in? %>
  <p class="title is-5">Confirm Details</p>
  <%= form_for @order, url: checkout_path do |f| %>
    <div class="form-group">
    <%= f.label :first_name, class:"label" %>
    <%= f.text_field :first_name, class:"input", :value => current_user.name %>
    </div>
    <p class="label">Address: <%=current_user.address%></p>
    <p class="label">Postal Code: <%=current_user.postal_code%></p>
    <p class="label">City: <%=current_user.city%></p>
    <p class="label">Province: <%=current_user.province.name%></p>
    </br>
    <p class="label">SubTotal: <%= number_to_currency current_cart.sub_total / (1 + current_user.province.tax) %></p>
    <p class="label">Tax: <%= number_to_currency current_cart.sub_total - (current_cart.sub_total  / (1 + current_user.province.tax))%></p>
    <p class="label">Total = <%= number_to_currency current_cart.sub_total %></p>
    <%= f.submit 'Checkout', class:"button is-success"%>
  <% end %>
<% else %>
<%= form_for @order, url: checkout_path do |f| %>

  <div class="form-group">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>

  <div class="form-group">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>

  <%= f.submit 'Checkout' %>
  <% end %>

<% end %>
