<h1 class="title is-2">Your Cart</h1>
<table>
  <thead>
     <tr>
      <td>Product</td>
      <td>Price</td>
      <td>Quantity</td>
      <td></td>
     </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
    <tr>
      <td><%= item.product.title %> </td>
      <td><%= number_to_currency (item.price / (1 + current_user.province.tax)) %></td>

      <td>
          <%= form_for item do %>
            <%= hidden_field_tag :product_id, item.product_id %>
            <%= number_field_tag :quantity, item.quantity %>
            <%= submit_tag "Update Cart" %>
          <% end %>
        </td>
      <td>
        <%= form_for item, method: :delete do |f| %>
          <%= f.submit "Remove" %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="4" align="right">
        Subtotal: <%= number_to_currency (current_cart.sub_total / (1 + current_user.province.tax)) %>
      </td>
    </tr>
  </tfoot>
</table>
</br>
</br>
<div class="has-text-white button is-success">
  <%= link_to 'Checkout', checkout_path %>
</div>